    .video-description{
       color: rgb(96, 96, 96);
       line-height:24px;
       width:300px;
       margin-top: 0;
       margn-bottom: 40px;
    }
    .video-stats, .video-author{
        font-size: 15px;
        color: rgb(96, 96, 96);
    }
    .video-author{
        margin-bottom:4px;
    }
    .video-title{
        margin-top: 0;
        font-weight: bold;
        font-size: 18px;
        line-height:20px;
        margin-bottom: 12px;
    }
    .underline:hover{
        text-decoration: underline;
    }
    .image{
        width: 100%;
    }
    
    .video-info-grid{
        display: grid;
        grid-template-column: 50px 1fr;
       
    }
    .channel-avatar{
        width:50px;
        border-radius: 40px;
    }
    .thumbnail-row{
        margin-bottom:12px;
    }
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
    }